.header {
  background-color: #5777ff5e;
  text-align: center;
}

.title {
  font-size: 25px;
  font-weight: bold;
  padding: 5px 0;
}

.nav{
  padding: 0 0 5px;
}

.nav .link{
  color: #000000;
  margin: 0 5px;
  font-size: 16px;
}

.nav .link:hover{
 color:#4e66bb;
}
